.container {
  padding: 30px;
}
.button {
  background-color: green;
  border: 0;
  padding: 15px 30px 15px 30px;
  margin: 10px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: .2s;
  border: 3px solid rgb(119, 187, 136);
}
.button:hover {
  background-color: rgb(84, 131, 14);
}

.restore {
  background-color: rgb(63, 63, 226);
}

.grid {
  margin: 100px 0 0;
  user-select: none;
  -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}
.red {
  background-color: red;
  color: black;
}